.frequentQuestionsLayout{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    padding-top: 0px; 
    margin-left: 30px; 
    margin-right: 30px; 
    margin-top: 0px; 
    padding-bottom: 20px;
    
} 
.questionsHead{
    width: 768px;
    height: 44px; 
    text-align: center; 
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center; 
    color: #101828; 
    margin-top: 0px; 
    padding-top: 0px;
}  

@media(max-width:767px){
    .questionsHead{

        width: 343px;
        height: 76px;
        font-family: Inter;
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        text-align: center;
        color: #101828;

     }
} 

.questionsPara{
    width: 768px;
    height: 30px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #475467;

    
} 
@media(max-width:767px){
    .questionsPara{
        color: #475467; 
        width: 343px;
        height: 56px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        
        
    } 
}